
body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.text-container {
  min-height: 100%;
  position: relative;
  flex: 1;
}

.text-1 {
  position: absolute;
  top: 10%;
  left: 10%;
}

.text-2 {
  position: absolute;
  top: 70%;
  left: 20%;
}

.text-3 {
  position: absolute;
  top: 70%;
  left: 90%;
}

.text-4 {
  position: absolute;
  top: 20%;
  left: 50%;
}

.text-5 {
  position: absolute;
  top: 10%;
  left: 60%;
}

#complete-game {
  position: fixed;
  top: 40vh;
  left: 30vw;
  display: none;
}